#btnaf{
    border: 0;
    background: none;
    color: white;
    display: flex;
    padding: 10px;
    margin-left: 90%;
}
#example-collapse-text{
    color: white;
    padding: 10px;
    margin-left: 40%;
}
#whate{
    display: flex;
    position: relative;
}
#whatt{
    position: absolute;
    top: 60%;
    left: 41%;
    color: white;
}
#whatt:hover{
    color: rgb(240, 189, 113);
}
@media screen and (max-width:640px) {
   #btnaf{
    display: none;
   } 
   #example-collapse-text{
    display: none;
    
   }
   #whatt{
    display: none;
    
   }
}