*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.booktour{
    background-color: rgb(240, 189, 113);
    padding: 10px;
    color: black;
    font-weight: 500;
    margin-left: 85%;
    margin-top: 4%;
}
#mono{
    font-family: "Grechen Fuemen", serif;
    color: rgb(240, 189, 113);
    text-align: center;
    font-size: 40px;
    transform: rotate(-14deg);
    
}
#winemaking{
    text-align: center;
    margin-top: 2%;
    /* margin-left: 20%; */
    font-size: 300%;
    font-weight:300 ;
    font-family: "EB Garamond", serif;
}
#adventure{
    text-align: center;
    /* font-family: "Montserrat", serif; */
    /* margin-left: 20%; */
    font-size: 300%;
    font-weight:300 ;

    font-family: "EB Garamond", serif;

}
#ppp{
    text-align: center;
    font-size: 20px;
    color:white;
    font-weight: 400;
    margin-top: 2%;
}
#ttt{
    color: white;
    margin-top: 2%;
    margin-right: 415px;
}
#tripchoose{
    text-align: center;
}

