.info
{
    text-align: center;
    margin-top: 3%;
    color: white;
    font-size: 30px;
}
form{
    text-align: center;
}
b{
    margin-left: -92%;
}
input{
    width: 700px;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0);
    color: white;
    border: 0.5;
    box-shadow: 0;
    border-color: grey;
}
input:hover{
    border-color:  rgb(240, 189, 113);
}
::placeholder{
    font-weight: 600;
}
#booking{
    margin-left: -83%;
}
#book{
    height: 200px;
}
textarea{
    width: 700px;
    background-color: rgba(255,255,255,0);
    height: 200px;
    color: white;
}
#h33{
    color: white;
}
.nb{
    justify-content: center;
    display: flex;
    margin-top: 3%;
}