*{
    margin: 0;
    padding: 0;
}
#vineyardnav{
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-bottom: 10px;
}
#imggg{
    width: 42rem;
    height: 45rem;
    /* position: relative; */
    position: absolute;
    top: 1px;
}
#an{
    color:white;
    font-size: 1rem;
    /* position: absolute; */
    position: relative;
    top: 1rem;
    z-index: 1;
    left: -1rem;
    background-color: rgb(54, 54, 88);
    padding: 20px;
    margin: 0;
    height: 150px;
    left: 50px;
    margin-top: 27%;
    width: 570px;
    /* -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1.5px); */
}
.vineyard1{
    display: flex;
    margin: 0;
}
h1{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0;
}
.vineyard12{
    margin-top: 1px;
    margin-left: 12%;
}
#ex{
    /* margin-left: 10rem; */
    margin-left: 20%;
font-size: 300%;
font-family: "EB Garamond", serif;
    /* margin: 0; */
} 
 #exp{
    margin-left: 25%;
font-size: 300%;
font-family: "EB Garamond", serif;
    /* margin-left: 180px; */
    /* margin: 0; */
}
#vi{
    /* margin-left: 190px; */
    margin-left: 29%;
font-size: 300%;
font-family: "EB Garamond", serif;
}
#tex{
    margin-left:20%;
    margin: 0;
} 
#tet{
    font-size: medium;
    text-align: center;
    /* margin: 0; */
}
#chooseoption{
    width: 550px;
    height: 50px;
    margin-top: 50px;
    background-color: rgba(54, 54, 88, 0.37);
    color: rgb(255, 255, 255);
    border: 0;
    margin: 0;
}
#choose{
    margin-left: 5px;
    margin-top: 40px;
    margin: 0;
}
option{
    background-color: rgba(54, 54, 88, 0.37);
    border: 0;
    color: rgb(22, 21, 21);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1.5px);
}
#next{
    width: 550px;
    height: 50px;
    margin-top: 50px;
    /* background-color: rgba(54, 54, 88, 0.37); */
    background-color: rgb(240, 189, 113);
    border: 0;
    color: black;
    /* margin: 0; */
}
b{
    color: white;
    top: 50px;
}