*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(C:\Users\jeeva\OneDrive\Desktop\travel\jeevareact\src\images\backimage.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
    /* background-image: url(https://th.bing.com/th/id/OIP.XVTedrm94knyCFmaDj25dQHaDt?w=349&h=174&c=7&r=0&o=5&pid=1.7); */

}
.bg{
    /* background-color: white; */
    /* overflow-x: hidden; */
    /* background-image: url(C:\Users\jeeva\OneDrive\Desktop\travel\jeevareact\src\images\backimage.jpg); */
    /* mix-blend-mode: multiply; */
    position:sticky;
    top: 0px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(3.5px);
    z-index: 3;
    width: 100%;
    margin: 0;
}
div.container{
    position: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-left: 100px;
}
img{
    height: 100px;
    width: 200px;
    z-index: 1;
    
}
@media screen and (max-width:640px){
    div.container{
     margin-left: 0;  
    }
    .winery{
         padding:0;
         margin: 0;padding-left: 0;
         margin-right:100px;
         font-size: 10px;
    }
}
.me-auto{
    margin-left: 25%;
    position: relative;
    justify-content: right;
    justify-content: space-around;
}
.btn{
    border-width: 2px;
    margin-left: 20px;
    font-weight: 700;
    display: flex;
    position: relative;
    top: 20px;
    background-color: rgb(240, 189, 113);
    border-radius: 0;
    color: rgb(26, 26, 39);
}
.btn:hover{
  background-color: antiquewhite;
  color: rgb(26, 26, 39);
}
#call,#mess,#what{
    font-weight: bold;
    padding: 30px;
    color: white;
}
#call:hover{
    color: rgb(240, 189, 113);
}
#mess:hover{
    color: rgb(240, 189, 113);
}
#what:hover{
    color: rgb(240, 189, 113);
}
@media screen and (max-width:1200px) {
    #call,#mess,#what{
        display: none;
    }
    .btn{
        position: fixed;
        margin-left: 35%;
        margin-top: 2%;
    }
}
@media screen and (max-width:810) {
    #call,#mess,#what{
        display: block;
    }
}
.journey{
    color: white;
    font-size: 75px;
    font-family: "Montserrat", serif;
    font-family: "Montserrat", serif;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 100;
}
.through{
    color: white;
    font-size: 75px;
    font-family: "Montserrat", serif;
    margin-left: 270px;
    font-weight: 100;

}
.country{
    color: white;
    font-size: 75px;
    font-family: "Montserrat", serif;
    margin-left: 230px;  
    height: 90px; 
    font-weight: 100;
}
.winery{
    color: rgb(240, 189, 113);
    font-style: italic;
    margin-left: 700px;
    font-family: "Grechen Fuemen", serif;
    font-size: 40px;
    transform: rotate(-10deg);
    z-index: 2;
    position: relative;
}
@media screen and (max-width:1004px) {
    .journey{
        text-align: left;
        margin-left: 15%;
        font-size: 40px;
    }
    .through{
        text-align: left;
        margin-left: 15%;
        font-size: 40px;
    }
    .country{
        text-align:left;
        margin-left: 15%;
        font-size: 40px;
    }
    .winery{
        margin-left: 38%;
    }
    
}
@media screen and (max-width:1004px) {
    .winery{
        text-wrap: nowrap;
        display: flex;
        font-size: 40px;
        text-align: right;
    }
}
@media screen and (max-width:990px) {
    .winery{
        text-wrap: nowrap;
        display: flex;
        font-size: 40px;
        text-align: left;
        position: relative;
    }
}
@media screen and (max-width:993px) {
    .journey{
        margin-left: 2%;
    }
    .through{
        margin-left: 2%;
    }
    .country{
        margin-left: 2%;
    }
    .winery{
        margin-left: 25%;
    }
    img{
        margin-left: 2%;
    }
}
@media screen and (max-width:991px) {
    .bg-body{
        margin-left: -25%;
    }
}
@media screen and (max-width:687px) {
    .bg-body{
        margin-left: -20%;
    }
}
@media screen and (min-width:111px) {
    .bg-body{
        margin-left: 2px;
    }
}
@media screen and (max-width:483px){
    .btn{
        width: 200px;
    }
}
@media screen and (max-width:642px) {
    .container{
        margin: 0;
    }
}
@media screen and (max-width:643px) {
    .container{
        margin: 0;
    }
}
@media screen and (max-width:644px) {
    .container{
        margin: 0;
    }
}
@media screen and (width<=991px) {
    .container{
        margin: 0;
    }
    .journey,.country,.through{
        text-align: center;
    }
    .winery{
        margin-left: 30%;
    }
}





/* Default styles for mobile devices */
.container {
    padding: 10px;
  }
  
  /* Styles for tablets and larger devices */
  @media (min-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  
  /* Styles for desktops and larger screens */
  @media (min-width: 1024px) {
    .container {
      padding: 30px;
    }
  }
  