#exr{
margin-left: 35%;
font-size: 300%;
font-family: "EB Garamond", serif;
}
#vir{
    margin-left: 33%;
    font-size: 300%;
    font-family: "EB Garamond", serif;
}
#expr{
    margin-left: 33%;
    font-size: 300%;
    font-family: "EB Garamond", serif;
}