#reservation{
    margin: 0;
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
}
#res{
    font-size: 20px;
    margin: 0;
    margin-top: 3%;
}
.rr{
    /* background-color: blue; */
    background-color: rgba(255, 255, 255, 0);

    margin: 0;
    width: 700px;
margin-left: 25%;
padding: 1px;
}
#clients{
    color: white;
    margin-top: 8%;
}
#location{
    color: white;
    margin-top: 3%;
}
#france{
    color: white;
    font-weight: 600;
    margin-top: 2%;
}
#emp{
    color: white;
    margin-top: 3%;
}
#eem{
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: 600;
    margin-top: 5%;
}
#p{
    margin-left: 50%;
}
#p9{
    margin-left: 44%;
}
#edit{
    background-color:rgb(240, 189, 113) ;
    width: 90px;
    height: 50px;
    margin-top: 2%;
    color: black;
    font-weight: 500;
}
#tot{
    color: white;
    margin-left: 25%;
    margin-top: 3%;
}
#tot99{
    color: white;
    margin-top: 2%;
    margin-left: 25%;
}
#nextnext{
    background-color:rgb(240, 189, 113) ;
    width: 53%;
    height: 50px;
    /* display: flex; */
    margin-left: 25%;
    margin-top: 5%;
    color: black;
    font-weight: 500;
}
#trip{
    margin:0;
    font-size: 20px;
}