#exs{
    margin-left: 20%;
font-size: 300%;
font-family: "EB Garamond", serif;
}
#vis{
    margin-left: 27%;
font-size: 300%;
font-family: "EB Garamond", serif;
}
#exps{
    margin-left: 37%;
font-size: 300%;
font-family: "EB Garamond", serif;
}